* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.espacio-30px{
  height: 30px;
}

.espacio-100px{
  height: 100px;
}

.boton-rojo{
  color: red;
}

#barra-de-navegacion{
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  
}

.botones-barra{
  display: flex;
  gap: 30px;
}

#saludo{
  width: 100%;
  height: 100%;
  background-color: aqua;
  border-radius: 20px;
}

.juego{
  width: 700px;
  height: 80px;
  background-color: aqua;
  border-radius: 10px;
}